Repository ReactionMechanismGenerator/RMG-database, pull requests merged in 2018-02, with the labels that each got.

#246 Relocated singlets GAV from radical to group
  input/thermo/groups/group.py
  input/thermo/groups/radical.py
Labels: Sulfur, Thermo

#250 Fix [O] - O bond scission rate
  input/kinetics/families/Birad_R_Recombination/training/dictionary.txt
  input/kinetics/families/Birad_R_Recombination/training/reactions.py
Labels: Kinetics, Sulfur, error

#230 Rename generateResonanceIsomers to generate_resonance_structures
  scripts/evansPolanyi.py
  scripts/fitPolycyclicThermoGroupsFromThermoLibrary.ipynb
  scripts/kineticsTraining.py
Labels: PR Ready to Merge, PR Small
