Repository ReactionMechanismGenerator/RMG-database, pull requests merged in 2020-04, with the labels that each got.

#393 Forbid intra_H migration in a 7-membered ring
  input/kinetics/families/intra_H_migration/groups.py
Labels: Complexity: Low

#396 Added training reactions for Peroxyl_Disproportionation and Peroxyl_Termination
  input/kinetics/families/Peroxyl_Disproportionation/groups.py
  input/kinetics/families/Peroxyl_Disproportionation/training/dictionary.txt
  input/kinetics/families/Peroxyl_Disproportionation/training/reactions.py
  input/kinetics/families/Peroxyl_Termination/groups.py
  input/kinetics/families/Peroxyl_Termination/training/dictionary.txt
  input/kinetics/families/Peroxyl_Termination/training/reactions.py
Labels: Topic: Kinetics, Topic: Liquid

#395 Remove template that allows forbidden [2pi+2pi] thermal cycloaddition reaction for two C=C
  input/kinetics/families/2+2_cycloaddition_Cd/groups.py
  input/kinetics/families/2+2_cycloaddition_Cd/rules.py
Labels: Complexity: Low, Status: Review Needed, Topic: Kinetics, Type: Error

#402 Reference database corrections
  input/reference_sets/main/Bromofluoromethane.yml
  input/reference_sets/main/Dinitrogen dioxide.yml
  input/reference_sets/main/Mercaptomethyl.yml
Labels: Complexity: Low, Status: Review Needed
