Repository ReactionMechanismGenerator/RMG-database, pull requests merged in 2020-08, with the labels that each got.

#435 Correct Thermo of [C]=C
  input/thermo/libraries/JetSurF2.0.py
  input/thermo/libraries/Klippenstein_Glarborg2016.py
  input/thermo/libraries/Narayanaswamy.py
Labels: Complexity: Low, Topic: Thermo

#436 Correct Kinetic libraries with [C]=C
  input/kinetics/libraries/JetSurF2.0/dictionary.txt
  input/kinetics/libraries/Klippenstein_Glarborg2016/dictionary.txt
  input/kinetics/libraries/Narayanaswamy/dictionary.txt
Labels: Complexity: Low, Topic: Kinetics

#437 Add training reaction for -CH2- + OH
  input/kinetics/families/H_Abstraction/training/dictionary.txt
  input/kinetics/families/H_Abstraction/training/reactions.py
Labels: Complexity: Low, Topic: Kinetics

#391 Adding in new surface attributes
  input/kinetics/families/Surface_Abstraction/rules.py
  input/kinetics/families/Surface_Abstraction/training/reactions.py
  input/kinetics/families/Surface_Adsorption_Dissociative/training/reactions.py
  input/kinetics/families/Surface_Dissociation/training/reactions.py
  input/kinetics/libraries/Surface/CPOX_Pt/Deutschmann2006/reactions.py
  input/kinetics/libraries/Surface/Deutschmann_Ni/reactions.py
  input/kinetics/libraries/Surface/Deutschmann_Ni_full/reactions.py
  input/kinetics/libraries/Surface/Example/reactions.py
  input/thermo/groups/adsorptionNi111.py
  input/thermo/groups/adsorptionPt111.py
  input/thermo/libraries/surfaceThermoNi111.py
  input/thermo/libraries/surfaceThermoPt111.py
Labels: Status: Review Needed, Topic: Catalysis, Twin RMG-Py PR
