Repository ReactionMechanismGenerator/RMG-database, pull requests merged in 2021-12, with the labels that each got.

#521 Adding new surface abstraction families
  families/images/Surface_Abstraction_Beta.png
  families/images/Surface_Abstraction_Beta_double_vdW.png
  families/rmg_reaction_families.pdf
  input/kinetics/families/Surface_Abstraction_Beta/groups.py
  input/kinetics/families/Surface_Abstraction_Beta/rules.py
  input/kinetics/families/Surface_Abstraction_Beta/template.cdx
  input/kinetics/families/Surface_Abstraction_Beta/template.eps
  input/kinetics/families/Surface_Abstraction_Beta/training/dictionary.txt
  input/kinetics/families/Surface_Abstraction_Beta/training/reactions.py
  input/kinetics/families/Surface_Abstraction_Beta_double_vdW/groups.py
  input/kinetics/families/Surface_Abstraction_Beta_double_vdW/rules.py
  input/kinetics/families/Surface_Abstraction_Beta_double_vdW/template.cdx
  input/kinetics/families/Surface_Abstraction_Beta_double_vdW/template.eps
  input/kinetics/families/Surface_Abstraction_Beta_double_vdW/training/dictionary.txt
  input/kinetics/families/Surface_Abstraction_Beta_double_vdW/training/reactions.py
  input/kinetics/families/recommended.py
Labels: Complexity: Low, Topic: Catalysis

#513 Adding thermo for Pt111
  input/thermo/libraries/surfaceThermoPt111.py
Labels: Complexity: Low, Topic: Catalysis

#550 Separate 1,3 sigmatropic rearrangement family
  families/images/Ketoenol.png
  families/rmg_reaction_families.pdf
  input/kinetics/families/1,3_sigmatropic_rearrangement/groups.py
  input/kinetics/families/1,3_sigmatropic_rearrangement/rules.py
  input/kinetics/families/1,3_sigmatropic_rearrangement/training/dictionary.txt
  input/kinetics/families/1,3_sigmatropic_rearrangement/training/reactions.py
  input/kinetics/families/H_Abstraction/.DS_Store
  input/kinetics/families/Ketoenol/NIST/dictionary.txt
  input/kinetics/families/Ketoenol/NIST/reactions.py
  input/kinetics/families/Ketoenol/groups.py
  input/kinetics/families/Ketoenol/rules.py
  input/kinetics/families/Ketoenol/template.cdx
  input/kinetics/families/Ketoenol/template.eps
  input/kinetics/families/Ketoenol/training/dictionary.txt
  input/kinetics/families/Ketoenol/training/reactions.py
  input/kinetics/families/recommended.py
  input/thermo/libraries/Spiekermann_refining_elementary_reactions.py
Labels: Topic: Kinetics, Topic: Thermo, Topic: Tree Gen

#522 Halogens pdep
  input/statmech/groups/groups.py
  input/statmech/libraries/halogens_G4.py
Labels: Topic: Halogens
